.header{
  font-size: 40px;
  text-align: center;
  font-weight: 500;
}

.info{
  display: inline-block;
  padding-left: 15px;

}
p{
  margin:2px;
}
img{
  height:75px;
  width:75px;
}
.name{
  font-weight: 500;
}
form{
  margin: 10px;
  border: 1px black solid;
  padding: 5% 12%;
  background-color: rgb(245, 240, 240);
  text-align: center;
}

